body {
    background: url("../images/background.png");
    font-family: sans-serif;
}
.nav-item:hover {
    text-decoration: underline grey;
}
.one {
    background: url(../images/hangman.jpg);
}
.two {
    background:url(../images/rpg-games.jpg);
}
.three {
    background:url(../images/sports.jpg);
}
.four {
    background:url(../images/rps.png);
}
.five {
    background:url(../images/Liri.png);
}
.imgHolder {
    width: 250px;
    height: 250px;
    
}
p {
    font-size: 16px;
    line-height: .3in;
}
.main {
    box-sizing: border-box;
    max-width: 960px;
    background: #FFFAFF;
    min-height: 500px;
}

.rtoggle {
    height: 61px;
}

span{
    width: 250px;
    height:40px;
}

